<ul class="dashboard-thumnails">
    <li><a href="#/chart/line"><img src="images/line.png" alt="Data with Line Chart"/></a></li>
    <li><a href="#/chart/bar"><img src="images/bar.png" alt="Data with Bar Chart"/></a></li>
    <li><a href="#/chart/radar"><img src="images/radar.png" alt="Data with Radar Chart"/></a></li>
    <li><a href="#/chart/polar"><img src="images/polar.png" alt="Data with Polar Chart"/></a></li>
    <li><a href="#/chart/pie"><img src="images/pie.png" alt="Data with Pie Chart"/></a></li>
    <li><a href="#/chart/doughnut"><img src="images/doughnut.png" alt="Data with Doughnut Chart"/></a></li>
</ul>